<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>点击加号</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/add.css" />
  </head>
  <body>
    <div class="add-down">
      <img src="../static/images/add_03.jpg" alt="" />
    </div>
    <div class="add-info">
      <img src="../static/images/add_07.jpg" alt="" />
      今天是你加入知乎的1132天
    </div>
    <div class="add-opa">
      <a href="javascript:void(0)">
        <p></p>
        <span>回答问题</span>
      </a>
      <a href="">
        <p></p>
        <span>提个问题</span>
      </a>
      <a href="">
        <p></p>
        <span>写文章</span>
      </a>
      <a href="">
        <p></p>
        <span>发想法</span>
      </a>
    </div>
    <div class="add-list add-list-normal">
      <div class="add-list-header">
        <span class="add-list-close">X</span>
        <h3>回答问题</h3>
        <h4>稍后答</h4>
      </div>
      <div class="add-list-nav">
        <div class="add-list-nav-main">
          <a href="">推荐</a>
          <a href="">最新</a>
          <a href="">邀请</a>
        </div>
        <div class="add-list-nav-field">+擅长领域</div>
      </div>
      <ul class="add-list-content">
        <li class="add-list-content-item">
          <p class="add-list-content-item-title">
            <img src="../static/images/add_07.jpg" alt="" /> 你活动赞同
          </p>
          <div class="add-list-content-item-main">
            如何已【我被困在地球上的第几天】开头写一个故事
          </div>
          <div class="add-list-content-item-opa">
            <span>1.1k人关注</span>
            <p>
              <span class="iconfont">+</span>
              关注问题
            </p>
            <p>
              <span class="iconfont">+</span>
              稍后答
            </p>
            <p>
              <span class="iconfont">+</span>
              写回答
            </p>
          </div>
        </li>
        <li class="add-list-content-item">
          <p class="add-list-content-item-title">
            <img src="../static/images/add_07.jpg" alt="" /> 你活动赞同
          </p>
          <div class="add-list-content-item-main">
            如何已【我被困在地球上的第几天】开头写一个故事
          </div>
          <div class="add-list-content-item-opa">
            <span>1.1k人关注</span>
            <p>
              <span class="iconfont">+</span>
              关注问题
            </p>
            <p>
              <span class="iconfont">+</span>
              稍后答
            </p>
            <p>
              <span class="iconfont">+</span>
              写回答
            </p>
          </div>
        </li>
        <li class="add-list-content-item">
          <p class="add-list-content-item-title">
            <img src="../static/images/add_07.jpg" alt="" /> 你活动赞同
          </p>
          <div class="add-list-content-item-main">
            如何已【我被困在地球上的第几天】开头写一个故事
          </div>
          <div class="add-list-content-item-opa">
            <span>1.1k人关注</span>
            <p>
              <span class="iconfont">+</span>
              关注问题
            </p>
            <p>
              <span class="iconfont">+</span>
              稍后答
            </p>
            <p>
              <span class="iconfont">+</span>
              写回答
            </p>
          </div>
        </li>
      </ul>
    </div>
    <script src="../static/script/zepto/zepto.js"></script>
    <script src="../static/script/main.js"></script>
    <script src="../static/script/add.js"></script>
    <script src="../static/script/iscroll-probe.js"></script>
    <script src="../static/script/myscroll.js"></script>
  </body>
</html>
