<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>回答</title>
    <link rel="stylesheet" href="../static/css/font/iconfont.css" />
    <link rel="stylesheet" href="../static/css/myscroll.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/anwser.css" />
  </head>
  <body>
    <header class="answer-header">
      <div class="answer-header-back cc-back">
        <span class="iconfont icon-fanhui"></span>
      </div>
      <div class="answer-header-more"><span class="iconfont icon-gengduo"></span></div>
      <div class="answer-header-search">
        <span class="iconfont icon-search"></span>
      </div>
    </header>
    <main class="answer-main">
      <div class="swiper-container answer-c">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="answer-main-title">
              <div class="answer-main-title-text">
                <h2>什么是面向对象编程思想?</h2>
                <p>查看全部54个回答<span class="iconfont">&gt;</span></p>
              </div>
              <div class="answer-main-title-opa">
                <p>邀请回答</p>
                <p>写回答</p>
              </div>
            </div>
            <div class="answer-main-content">
              <div class="answer-main-content-info">
                <div>
                  <img src="../static/images/a-user.jpg" alt="" />
                </div>
                <div>
                  <h4>
                    淡定的蜗牛<img src="../static/images/biaoshi.jpg" alt="" />
                  </h4>
                  <span>资深JAVA架构师</span>
                </div>
                <p>+关注</p>
              </div>
              <p>
                前几天网上看到一个有趣的面试问题：
                农场有头大母牛，每年生头小母牛，小母牛五年后生小母牛，年龄大于15便死亡
                ，问20年后农场一共有多少头牛？（使用面向对象编程思维解答）
                这个面试问题让我想到了面向过程与面向对象编程的区别，咱们先简单了解下这两者定义上区别：
                面向过程
                就是分析出解决问题所需要的步骤，然后用函数把这些步骤一步一步实现，使用的时候一个一个依次调用就可以了。
                面向对象
                是把构成问题事务分解成各个对象，建立对象的目的不是为了完成一个步骤，而是为了描叙某个事物在整个解决问题的步骤中的行为。
                <span>编辑2019-09-08&nbsp;著作权归作者所有</span>
              </p>
              <div class="answer-main-content-other">
                <div class="answer-praise">
                  <h4>真诚赞赏，手留余香</h4>
                  <a href="">赞赏</a>
                  <p>还没有赞赏的人，快来当第一个赞赏的人吧。</p>
                </div>
                <div class="answer-ad">
                  <h3>超适合家庭出游的ins网红网店</h3>
                  <p>你以为很贵吗？来Agoda超级便宜，现在团购，享8折优惠.刷爆朋友圈</p>
                  <div>
                    <span>Agoda&nbsp;App的广告</span>
                    <a href="">立即下载</a>
                    <i>X</i>
                  </div>
                </div>
              </div>
            </div>
            <div class="answer-main-comment">
                <h3>评论</h3>
                <ul class="commentList">
                    <li class="commentItem">
                        <div class="commentItem-img">
                            <img src="../static/images/dog.jpg" alt="">
                        </div>
                        <div class="commentItem-main">
                           <h4>BobG</h4>
                           <p>公牛呢？</p>
                        </div>
                        <p><span class="iconfont icon-dianzan"></span><i>66</i></p>
                    </li>
                    <li class="commentItem">
                        <div class="commentItem-img">
                            <img src="../static/images/dog.jpg" alt="">
                        </div>
                        <div class="commentItem-main">
                           <h4>BobG</h4>
                           <p>公牛呢？</p>
                        </div>
                        <p><span class="iconfont icon-dianzan"></span><i>66</i></p>
                    </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="answer-bottom">
      <div class="answer-bottom-left">
        <div class="answer-bottom-yes">赞同383</div>
        <div class="answer-bottom-no">反</div>
      </div>
      <div class="answer-bottom-right">
        <p class="answer-thank">感谢</p>
        <p class="answer-col">收藏</p>
        <p class="answer-comment">评论</p>
      </div>
    </footer>

    <script src="../static/script/zepto/zepto.js"></script>
    <script src="../static/script/main.js"></script>
    <script src="../static/script/api.js"></script>
    <script src="../static/script/swiper/swiper.js"></script>
  </body>
</html>
