<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>回答</title>
    <link rel="stylesheet" href="../static/css/font/iconfont.css">
    <link rel="stylesheet" href="../static/css/myscroll.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/anwser.css">
</head>
<body>
    <header class="answer-header">
       <div class="answer-header-back">
           <span class="iconfont">回</span>
       </div>
       <div class="answer-header-more"><span class="iconfont">多</span></div>
       <div class="answer-header-search">
            <span class="iconfont">搜</span>
        </div>
    </header>
    <main class="answer-main">
        <div class="swiper-container answer-c">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="answer-main-title">
                        <div class="answer-main-title-text">
                            <h2>什么是面向对象编程思想?</h2>
                            <p>查看全部54个回答<span class="iconfont">&gt;</span></p>
                        </div>
                        <div class="answer-main-title-opa">
                            <p>邀请回答</p>
                            <p>写回答</p>
                        </div>
                    </div>
                    <div class="answer-main-content">
                        <div class="answer-main-content-info">
                            <div>
                                <img src="../static/images/a-user.jpg" alt="">
                            </div>
                            <div>
                                <h4>淡定的蜗牛<img src="../static/images/biaoshi.jpg" alt=""></h4>
                                <span>资深JAVA架构师</span>
                            </div>
                            <p>+关注</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="answer-bottom">
            <div class="answer-bottom-left">
                    <div class="answer-bottom-yes">赞同383</div>
                    <div class="answer-bottom-no">反</div>
            </div>
            <div class="answer-bottom-right">
                <p class="answer-thank">感谢</p>
                <p class="answer-col">收藏</p>
                <p class="answer-comment">评论</p>
            </div>
    </footer>

    <script src="../static/script/zepto/zepto.js"></script>
    <script src="../static/script/main.js"></script>
    <script src="../static/script/api.js"></script>
    <script src="../static/script/swiper/swiper.js"></script>
</body>
</html>