<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>写文章页面跳转</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/article2.css" />
  </head>
  <body>
    <header class="article2-header">
      <span class="cc-back">回</span>
      <div class="article2-header-search">
        <input type="text" placeholder="搜索知乎内容" />
      </div>
      <span>更多</span>
    </header>
    <main class="article2-main">
      <div class="article2-main-user">
        <div class="article2-main-user-img">
          <img src="../static/images/add_07.jpg" alt="" />
        </div>
        <div class="article2-main-user-text">
          <h3>超喜欢鱼</h3>
          <p>默默刷知乎的小透明/程序员/前端/后端</p>
        </div>
      </div>
      <div class="article2-main-content">
        <h3>XXX</h3>
        <p>发发图</p>
        <div>
          <p>编辑于 2019-10-06</p>
          <p>著作权归作者所有</p>
        </div>
        <div class="article2-main-content-share">
          <span> 分享到</span>
          <a href="">微信</a>
          <a href="">朋友圈</a>
          <a href="">QQ</a>
        </div>
      </div>
      <div class="article2-main-comment">
        <h3>评论</h3>
        <div class="article2-main-comment-main clearfix">
          <img src="../static/images/add_07.jpg" alt="" />
          <input type="text" placeholder="请输入评论" />
        </div>
      </div>
      <div class="article2-main-su">
        <h3>推荐阅读</h3>
        <ul>
          <li>
            <div class="su-text">
              <h3>细思极恐的小故事系列</h3>
              <p>
                一些细思极恐的小故事，长期更新，我用被吓哭了，你呢
              </p>
              <span>超的文章&nbsp;666赞同</span>
            </div>
            <div class="su-img">
              <img src="../static/images/article_03.jpg" alt="" />
            </div>
          </li>
          <li>
            <div class="su-text">
              <h3>细思极恐的小故事系列</h3>
              <p>
                一些细思极恐的小故事，长期更新，我用被吓哭了，你呢
              </p>
              <span>超的文章&nbsp;666赞同</span>
            </div>
            <div class="su-img">
              <img src="../static/images/article_03.jpg" alt="" />
            </div>
          </li>
          <li>
            <div class="su-text">
              <h3>细思极恐的小故事系列</h3>
              <p>
                一些细思极恐的小故事，长期更新，我用被吓哭了，你呢
              </p>
              <span>超的文章&nbsp;666赞同</span>
            </div>
            <div class="su-img">
              <img src="../static/images/article_03.jpg" alt="" />
            </div>
          </li>
          <li>
            <div class="su-text">
              <h3>细思极恐的小故事系列</h3>
              <p>
                一些细思极恐的小故事，长期更新，我用被吓哭了，你呢
              </p>
              <span>超的文章&nbsp;666赞同</span>
            </div>
            <div class="su-img">
              <img src="../static/images/article_03.jpg" alt="" />
            </div>
          </li>
        </ul>
      </div>
    </main>
    <footer class="article2-bottom">
      <div class="article2-bottom-left">
        <div class="article2-bottom-yes">赞同383</div>
        <div class="article2-bottom-no">反</div>
      </div>
      <div class="article2-bottom-right">
        <p class="article2-col">收藏</p>
        <p class="article2-comment">评论</p>
      </div>
    </footer>

    <script src="../static/script/zepto/zepto.js"></script>
    <script src="../static/script/article2.js"></script>
    <script src="../static/script/main.js"></script>
  </body>
</html>
