<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>详情</title>
    <link rel="stylesheet" href="../static/css/font/iconfont.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/detail.css" />
    <link rel="stylesheet" href="../static/css/myscroll.css" />
  </head>
  <body>
    <header class="detail-header">
      <a href="index.html"> <p class="detail-back"><span>回</span></p></a>
      <h4>详情</h4>
      <p class="detail-more"><span>...</span></p>
    </header>
    <main class="detail-main">
      <div class="detail-main-wrap">
          <div class="detail-main-content">
              <div class="detail-main-content-img">
                <img src="../static/images/person.jpg" alt="" />
              </div>
              <div class="detail-main-content-text">
                <p class="detail-name">
                  杨大宝
                  <img src="../static/images/biaoshi.jpg" alt="" />
                </p>
                <span class="detail-time">1天前</span>
                <div class="detail-content">
                  <p>
                    每每看到思境上能够沟通或者共鸣的人就激动不已，要知道虽然物理空间和生活轨道相同的人很多，但是能够在认知和精神上共鸣的人却越来越难找。
                  </p>
                  <p>
                    成长的代价就是这样，越来越不合群，也越来越不求热闹。只是沿着自己的思境逐渐前行，然后偶尔看到一个两个鲜活的人影，大部分闪着光芒的点，要么作古，要么遥不可及
                  </p>
                </div>
                <ul class="detail-opa clearfix">
                  <li>转发</li>
                  <li>评论</li>
                  <li>拍手</li>
                </ul>
              </div>
            </div>
            <div class="detail-main-comment">
              <div class="detail-main-comment-header">
                <h4>15条评论</h4>
                <p>转发及鼓掌
                  <img src="../static/images/detail_01.jpg                     " alt="">
                </p>
              </div>
              <div class="detail-main-comment-main">
                <ul>
                  <li>
                    <div class="comment-img">
                      <img src="../static/images/detail_02.jpg" alt="">
                    </div>
                    <div class="comment-text">
                      <p class="comment-name">不周山
                        <img src="../static/images/biaoshi.jpg" alt="">
                        <span class="iconfont">...</span>
                      </p>
                      <p class="comment-article">
                        和玩的知心的朋友都有一种感觉，就是越来越喜欢社交,
                        只想跟和自己玩的比较好的在一起.
                      </p>
                      <div class="comment-opa">
                        <span class="comment-opa-time">昨天&nbsp;15:32</span>
                        <p>
                          <a href="">点赞</a>
                          <a href="">评论</a>
                        </p>
                      </div>
                    </div>
            
                  </li>
                  <li>
                      <div class="comment-img">
                        <img src="../static/images/detail_02.jpg" alt="">
                      </div>
                      <div class="comment-text">
                        <p class="comment-name">不周山
                          <img src="../static/images/biaoshi.jpg" alt="">
                          <span class="iconfont">...</span>
                        </p>
                        <p class="comment-article">
                          和玩的知心的朋友都有一种感觉，就是越来越喜欢社交,
                          只想跟和自己玩的比较好的在一起.
                        </p>
                        <div class="comment-opa">
                          <span class="comment-opa-time">昨天&nbsp;15:32</span>
                          <p>
                            <a href="">点赞</a>
                            <a href="">评论</a>
                          </p>
                        </div>
                      </div>
              
                    </li>
                </ul>
              </div>
            </div>
      </div>
    </main>
    <footer class="detail-bottom">
      <div class="detail-bottom-opa">
        <span class="detail-bottom-opa-img"></span>
        <span class="detail-bottom-opa-emoji"></span>
      </div>
      <div class="detail-bottom-input">
        <input type="text" placeholder="添加你的评论">
      </div>
      <div class="detail-bottom-send">发布</div>
    </footer>

    <script src="../static/script/zepto/zepto.js"></script>
    <script src="../static/script/main.js"></script>
    <script src="../static/script/swiper/swiper.js"></script>
    <script src="../static/script/iscroll-probe.js"></script>
    <script src="../static/script/detail.js"></script>
  </body>
</html>
