<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>学习清单</title>
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/font/iconfont.css" />
    <link rel="stylesheet" href="../static/css/myscroll.css" />
    <link rel="stylesheet" href="../static/css/item.css" />
  </head>
  <body>
    <header class="item-header">
      <p>管理</p>
      <h3>学习清单</h3>
      <span class="close">X</span>
    </header>
    <main class="item-main">
      <div class="item-main-wrap">
        <div class="myScroll-flash">
          <img src="" alt="" />
        </div>
        <ul class="item-main-list">
          <li class="item-main-list-item">
            <img src="../static/images/item.jpg" alt="" />
            <div>
              <h3>四项平板支撑、思考着、垫上后面也不知道什么东西</h3>
              <p>来自<span>在家露出腹肌4周极速塑形</span>&nbsp;14节</p>
              <p>
                <span class="iconfont"></span>时长 3：26&nbsp;已观看 0%
                <span class="item-more">...</span>
              </p>
            </div>
          </li>
          <li class="item-main-list-item">
            <img src="../static/images/item.jpg" alt="" />
            <div>
              <h3>四项平板支撑、思考着、垫上后面也不知道什么东西</h3>
              <p>来自<span>在家露出腹肌4周极速塑形</span>&nbsp;14节</p>
              <p>
                <span class="iconfont"></span>时长 3：26&nbsp;已观看 0%
                <span class="item-more">...</span>
              </p>
            </div>
          </li>
          <li class="item-main-list-item">
            <img src="../static/images/item.jpg" alt="" />
            <div>
              <h3>四项平板支撑、思考着、垫上后面也不知道什么东西</h3>
              <p>来自<span>在家露出腹肌4周极速塑形</span>&nbsp;14节</p>
              <p>
                <span class="iconfont"></span>时长 3：26&nbsp;已观看 0%
                <span class="item-more">...</span>
              </p>
            </div>
          </li>
          <li class="item-main-list-item">
            <img src="../static/images/item.jpg" alt="" />
            <div>
              <h3>四项平板支撑、思考着、垫上后面也不知道什么东西</h3>
              <p>来自<span>在家露出腹肌4周极速塑形</span>&nbsp;14节</p>
              <p>
                <span class="iconfont"></span>时长 3：26&nbsp;已观看 0%
                <span class="item-more">...</span>
              </p>
            </div>
          </li>
          <li class="item-main-list-item">
            <img src="../static/images/item.jpg" alt="" />
            <div>
              <h3>四项平板支撑、思考着、垫上后面也不知道什么东西</h3>
              <p>来自<span>在家露出腹肌4周极速塑形</span>&nbsp;14节</p>
              <p>
                <span class="iconfont"></span>时长 3：26&nbsp;已观看 0%
                <span class="item-more">...</span>
              </p>
            </div>
          </li>
          <li class="item-main-list-item">
            <img src="../static/images/item.jpg" alt="" />
            <div>
              <h3>四项平板支撑、思考着、垫上后面也不知道什么东西</h3>
              <p>来自<span>在家露出腹肌4周极速塑形</span>&nbsp;14节</p>
              <p>
                <span class="iconfont"></span>时长 3：26&nbsp;已观看 0%
                <span class="item-more">...</span>
              </p>
            </div>
          </li>
          <li class="item-main-list-item">
            <img src="../static/images/item.jpg" alt="" />
            <div>
              <h3>四项平板支撑、思考着、垫上后面也不知道什么东西</h3>
              <p>来自<span>在家露出腹肌4周极速塑形</span>&nbsp;14节</p>
              <p>
                <span class="iconfont"></span>时长 3：26&nbsp;已观看 0%
                <span class="item-more">...</span>
              </p>
            </div>
          </li>
        </ul>
      </div>
    </main>
    <script src="../static/script/zepto/zepto.js"></script>
    <script src="../static/script/main.js"></script>
    <script src="../static/script/iscroll-probe.js"></script>
    <script src="../static/script/myscroll.js"></script>
    <script src="../static/script/item.js"></script>
    
  </body>
</html>
