<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>热榜</title>
    <link rel="stylesheet" href="../static/css/font/iconfont.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/rank.css" />
    <link rel="stylesheet" href="../static/css/myscroll.css" />
    <link rel="stylesheet" href="../static/css/swiper/swiper.css"></link>
  </head>
  <body>
    <main class="rank-main">
      <div class="rank-main-wrap">
        <div class="myScroll-flash">
          <img src="" alt="" />
        </div>

        <ul class="rank-main-list">
          <li class="rank-main-item">
            <p>1</p>
            <div>
              <p>如何评价蚂蚁金服新推出的知识平台-语雀？</p>
              <span>92万热度</span>
            </div>
            <img src="../static/images/rank.jpg" alt="" />
          </li>
          <li class="rank-main-item">
            <p>2</p>
            <div>
              <p>如何评价蚂蚁金服新推出的知识平台-语雀？</p>
              <span>92万热度</span>
            </div>
            <img src="../static/images/rank.jpg" alt="" />
          </li>
          <li class="rank-main-item">
            <p>3</p>
            <div>
              <p>如何评价蚂蚁金服新推出的知识平台-语雀？</p>
              <span>92万热度</span>
            </div>
            <img src="../static/images/rank.jpg" alt="" />
          </li>
        </ul>
        <!-- <p class="rank-main-noMore">没有更多了</p> -->
      </div>
      <nav class="rank-main-nav">
        <div class="swiper-container nav-swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">全站</div>
            <div class="swiper-slide">科学</div>
            <div class="swiper-slide">数码</div>
            <div class="swiper-slide">体育</div>
            <div class="swiper-slide">时尚</div>
            <div class="swiper-slide">影视</div>
            <div class="swiper-slide">校园</div>
            <div class="swiper-slide">汽车</div>
            <div class="swiper-slide">焦点</div>
            <div class="swiper-slide">深度</div>
            
          </div>
        </div>
      </nav>
      <div class="myScroll-flash">
        <p class="rank-main-noMore">没有更多了</p>
      </div>
    </main>
    <script src="../static/script/zepto/zepto.js"></script>
    <script src="../static/script/main.js"></script>
    <script src="../static/script/swiper/swiper.js"></script>
    <script src="../static/script/iscroll-probe.js"></script>
    <script src="../static/script/myscroll.js"></script>
    <script src="../static/script/rank.js"></script>
  </body>
</html>
