<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>推荐</title>
    <link rel="stylesheet" href="../static/css/font/iconfont.css" />
    <link rel="stylesheet" href="../static/css/main.css" />
    <link rel="stylesheet" href="../static/css/reset.css" />
    <link rel="stylesheet" href="../static/css/myscroll.css" />
    <link rel="stylesheet" href="../static/css/recommend.css" />
  </head>
  <body>
    <main class="rec-main">
      <div class="rec-main-wrap">
        <div class="myScroll-flash">
          <img src="" alt="" />
        </div>
        <ul class="rec-main-list">
          <li class="rec-main-list-item">
           <a href="answer.html"> <h3>“孤独”的最高等级是什么？</h3></a>
            <a href="replies.html">
                <div class="rec-main-list-item-content clearfix">
                    <div class="rec-text">
                      <p class="rec-text-title">
                        <img src="../static/images/rec_03.jpg" alt="" />
                        <span class="rec-name">君君</span>
                        <span class="rec-desc">超过6w的用户关注了他</span>
                      </p>
                      <p class="rec-text-main">
                        网络上，有一张国际孤独等级表。一直流传甚广，看到这里的小伙伴，有什么感想没有？
                      </p>
                    </div>
                    <div class="rec-img">
                      <img src="../static/images/rec_06.jpg" alt="" />
                    </div>
                  </div>
            </a>
            <div class="rec-main-list-item-info">
              <p>
                663赞同&nbsp;677评论
                <span>更多</span>
              </p>
            </div>
          </li>
          <li class="rec-main-list-item">
            <a href=""><h3>“孤独”的最高等级是什么？</h3></a>
            <div class="rec-main-list-item-content clearfix">
              <div class="rec-text">
                <p class="rec-text-title">
                  <img src="../static/images/rec_03.jpg" alt="" />
                  <span class="rec-name">君君</span>
                  <span class="rec-desc">超过6w的用户关注了他</span>
                </p>
               <a href=""> <p class="rec-text-main">
                  网络上，有一张国际孤独等级表。一直流传甚广，看到这里的小伙伴，有什么感想没有？
                </p></a>
              </div>
              <div class="rec-img">
                <img src="../static/images/rec_06.jpg" alt="" />
              </div>
            </div>
            <div class="rec-main-list-item-info">
              <p>
                663赞同&nbsp;677评论
                <span>更多</span>
              </p>
            </div>
          </li>
          <li class="rec-main-list-item">
            <h3>“孤独”的最高等级是什么？</h3>
            <div class="rec-main-list-item-content clearfix">
              <div class="rec-text">
                <p class="rec-text-title">
                  <img src="../static/images/rec_03.jpg" alt="" />
                  <span class="rec-name">君君</span>
                  <span class="rec-desc">超过6w的用户关注了他</span>
                </p>
                <p class="rec-text-main">
                  网络上，有一张国际孤独等级表。一直流传甚广，看到这里的小伙伴，有什么感想没有？
                </p>
              </div>
              <div class="rec-img">
                <img src="../static/images/rec_06.jpg" alt="" />
              </div>
            </div>
            <div class="rec-main-list-item-info">
              <p>
                663赞同&nbsp;677评论
                <span>更多</span>
              </p>
            </div>
          </li>
        </ul>
        <div class="myScroll-load">
          <img src="" alt="" />
        </div>
      </div>
    </main>
    <script src="../static/script/zepto/zepto.js"></script>
    <script src="../static/script/main.js"></script>
    <script src="../static/script/swiper/swiper.js"></script>
    <script src="../static/script/iscroll-probe.js"></script>
    <script src="../static/script/myscroll.js"></script>
    <script src="../static/script/recommend.js"></script>
  </body>
</html>
