<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>想法定位</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/thinkAD.css">
</head>
<body>
    <header class="thinkAD-header">
        <input type="text" placeholder="搜索附近地点">
        <p class="cc-back">取消</p>
    </header>
    <script src="../static/script/zepto/zepto.js"></script>
    <script src="../static/script/main.js"></script>
    <script src="../static/script/thinkAD.js"></script>
</body>
</html>