<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>写想法，跳转到推荐</title>
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/think.css">
  </head>
  <body>
    <header class="think-header">
      <p class="think-header-cancel cc-back">取消</p>
      <h4>写想法</h4>
      <p class="think-header-pub">发布</p>
    </header>
    <main class="think-main">
        <textarea>

        </textarea>
        <div class="think-main-ad">
           <a href="thinkAD.html">
               <span class="iconfont"></span> 添加位置
           </a>
        </div>
    </main>
    <footer class="think-footer">
        <p>
            <span></span>
            拍摄
        </p>
        <p>
            <span></span>
            图片/视频
        </p>
    </footer>

    <script src="../static/script/zepto/zepto.js"></script>
    <script src="../static/script/think.js"></script>
    <script src="../static/script/main.js"></script>
  </body>
</html>
