footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 43px;
  border-top: 1px solid #d3d3d3; }
  footer ul {
    display: flex;
    text-align: center;
    padding-top: 6px;
    font-weight: bold; }
    footer ul li {
      flex: 1; }
      footer ul li a {
        display: flex;
        flex-direction: column;
        color: #444;
        width: 100%;
        height: 100%; }
        footer ul li a .add-box {
          width: 28px;
          height: 36px;
          border-radius: 6px;
          background: #0084ff;
          color: #fff;
          font-weight: normal;
          text-align: center;
          line-height: 36px;
          transform: translate(100%, -5%); }
    footer ul .iconfont {
      font-size: 20px; }
