.mine-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 71px;
  background: transparent;
  z-index: 2;
  box-sizing: border-box;
  padding: 25px 15px 15px;
  display: flex;
  justify-content: space-between; }
  .mine-header-search {
    width: 266px;
    height: 32px;
    background: #0887fe;
    border-radius: 6px;
    overflow: hidden; }
    .mine-header-search form {
      width: 100%;
      height: 100%; }
      .mine-header-search form input {
        width: 100%;
        height: 100%;
        border: 0;
        padding-left: 115px;
        box-sizing: border-box;
        background: #0887fe;
        color: #fff; }
  .mine-header-func {
    width: 80px;
    height: 32px;
    line-height: 32px;
    padding-right: 5px;
    box-sizing: border-box; }
    .mine-header-func span {
      padding-left: 15px; }
    .mine-header-func .iconfont {
      color: #fff;
      font-size: 20px; }

.mine-main {
  width: 100%;
  position: absolute;
  bottom: 44px;
  left: 0;
  top: 0;
  background: #f6f6f6;
  overflow: hidden; }
  .mine-main .mine-main-wrap {
    overflow: hidden; }
  .mine-main .main-top-box {
    height: 4.89rem;
    padding-top: 1.41rem;
    background: #319bfd;
    box-sizing: border-box; }
    .mine-main .main-top-box .mine-main-topic {
      height: 3.34rem;
      width: 6.94rem;
      background: #fff;
      margin: 0 auto;
      padding: 0.3rem;
      box-sizing: border-box;
      border-radius: .12rem; }
      .mine-main .main-top-box .mine-main-topic .mine-main-user {
        float: left; }
        .mine-main .main-top-box .mine-main-topic .mine-main-user .touxiang {
          width: 1.20rem;
          float: left; }
        .mine-main .main-top-box .mine-main-topic .mine-main-user .user-info {
          float: left;
          margin-left: 0.1rem; }
          .mine-main .main-top-box .mine-main-topic .mine-main-user .user-info h3 {
            font-size: 0.34rem;
            margin-top: 0.14rem; }
          .mine-main .main-top-box .mine-main-topic .mine-main-user .user-info span {
            display: block;
            margin-top: .21rem;
            font-size: .16rem;
            color: #0084ff;
            width: 2.26rem;
            height: 0.45rem;
            background: #e5f2ff;
            border-radius: .45rem;
            line-height: .45rem;
            text-align: center; }
      .mine-main .main-top-box .mine-main-topic .mine-main-index {
        float: right;
        font-size: 0.26rem;
        margin-top: 0.48rem;
        color: #999; }
      .mine-main .main-top-box .mine-main-topic .main-topic-list {
        display: flex;
        margin-top: .69rem; }
        .mine-main .main-top-box .mine-main-topic .main-topic-list li {
          flex: 1;
          border-left: 1px solid #d3d3d3;
          box-sizing: border-box;
          text-align: center;
          font-weight: bold; }
          .mine-main .main-top-box .mine-main-topic .main-topic-list li span {
            font-size: .3rem;
            color: #1a1a1a; }
          .mine-main .main-top-box .mine-main-topic .main-topic-list li p {
            margin-top: .16rem;
            font-size: .24rem; }
          .mine-main .main-top-box .mine-main-topic .main-topic-list li:nth-of-type(1) {
            border-left: 0; }
  .mine-main .mine-main-vip {
    height: 1.14rem; }
  .mine-main .list li {
    line-height: 1rem; }
