// 私信主要内容
.private-main {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 44px;
  bottom: 43px;
  left: 0;
  background: #fff;
  &-header {
    padding: 0 0.42rem;
    font-size: 0.27rem;
    height: 0.79rem;
    line-height: 0.79rem;
    background: #f6f6f6;
    span {
      color: #999;
    }
    a {
      float: right;
      color: #0084ff;
    }
  }
  &-list {
    li {
      height: 1.21rem;
      padding: 0.2rem 0.2rem 0;
      & > img {
        width: 1.02rem;
        float: left;
      }
      & > div {
        float: left;
        margin-left: 0.18rem;
        margin-top: 0.14rem;
        width: 5.89rem;
        height: 1.07rem;
        box-sizing: border-box;
        border-bottom:1px solid #ccc;
        .private-name {
          
          img {
            width: 0.28rem;
            margin-left: 0.17rem;
          }
          span {
            &:nth-of-type(1) {
              font-size: 0.30rem;
              color: #646464;
            }
            &:nth-of-type(2) {
                font-size: 0.22rem;
                color: #d3d3d3;
                float: right;
            }
          }
        }
        .private-info{
            margin-top:.18rem;
            span{
                &:nth-of-type(1){
                    font-size: .26rem;
                }
                &:nth-of-type(2){
                    float: right;
                    font-size: .26rem;
                    color: #d7d7d7;
                }
            }
        }
      }
    }
  }
  &-tip{
      height: .3rem;
      font-size: .3rem;
      margin-top:.41rem;
      color: #bfbfbf;
      text-align: center;
  }
}
